<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance (Links to an external site.)" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee (Links to an external site.) http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd (Links to an external site.)">
    <servlet>
        <servlet-name>ConnectionServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterClientServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClientServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStaffServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessLogServlet</servlet-name>
        <servlet-class>uts.isd.controller.AccessLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessLogSearchServlet</servlet-name>
        <servlet-class>uts.isd.controller.AccessLogSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateUserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionServlet</servlet-name>
        <url-pattern>/ConnectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterClientServlet</servlet-name>
        <url-pattern>/RegisterClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClientServlet</servlet-name>
        <url-pattern>/LoginClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <url-pattern>/RegisterStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStaffServlet</servlet-name>
        <url-pattern>/LoginStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessLogServlet</servlet-name>
        <url-pattern>/AccessLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessLogSearchServlet</servlet-name>
        <url-pattern>/AccessLogSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <url-pattern>/UpdateUserInfoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
