/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 24, 2022, 11:33:26 AM
    Author     : johnwang
*/

.Footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: rgb(60,58,58);
}
.Footer p{
    color: white;
    text-align: center;
}